.c-container {
    background-color: white;
    margin-bottom: 5px; 
}

.slds-card:hover {
    cursor: pointer;
background-color: #dad4d447;

}

.p-data {
    padding: 5px 0 0 30px;
}

.p-header {
    padding: 5px 0 0  6px;
}